<div class="container-fluid">
<h1>GRAB A QUOTE</h1>
<hr>
<ol>
    <li *ngFor="let q of (allQuotes), let i=index">
         {{q.id}} <br> 
          This Quote was written on {{q.completeDate|date|uppercase}} <br>
           By  the Author {{q.author}} <br>
         <button (click)='toggleDetails(i)'>Quote</button>
         <app-quote-detail *ngIf='q.showDescription' [quote]='q'(isCompete)='deleteGoal($event,i)'></app-quote-detail>
    </li>
    

</ol>
<button class="btn btn-primary">Show more</button>
</div>