<div class="container-fluid">
<h1>GRAB A QUOTE</h1>
<hr>
<ol>
    <li *ngFor='let q of allQuotes, let i = index'>
         {{q.id}} <br> 
         <p> This Quote was written on {{q.completeDate|date|uppercase}} </p>
         <button (click)='toggleDetails(i)'>Quote</button>
         <br>By  the Author {{q.author}} <br>
         <app-quote-detail *ngIf='q.showDescription' [quote]='q' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
    </li>
    

</ol>
<button class="btn btn-primary">Show more</button>
</div>