<div class="form">
 <h2 class="text-center">Create a new Quote</h2>
 <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'> 
        <div class="form-group">
            <label for="name">NAME</label>
            <input type="text" class="form-control" id="author" placeholder="Enter your name" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Name is required</p>

            </div>
            Writing: {{newQuote.author}}
        </div>
        <div>   
            <label for="id">VERSE</label>
            <input type="text" id="id" required class="form-control" placeholder="Enter your verse" [(ngModel)]="newQuote.id" name="id" #id='ngModel'>
            
            Writing: {{newQuote.id}}
        </div>
        <div>
            <label for="description">DESCRIPTION</label>
            <textarea class="form-control" id="description" cols="30" rows="5" required placeholder="Enter your Quote"  [(ngModel)]="newQuote.description" name="description" #description="ngModel"></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                <p>Quote is required</p>

            </div>
            Writing: {{newQuote.quote}}
        </div>
        <br>
        <div>
            <label for="complete">COMPLETION</label> &nbsp; &nbsp;
            <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                    <p>Date is required</p>
            </div>
        </div>

        <div>
                <button class='btn btn-success' type='submit'>Submit</button>
        </div>
    </form>
</div>